<ion-header>
  <ion-toolbar class="io" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Détail dépense</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

<ion-content class="background">

  <ion-card>
  <ion-grid>
    <table class="table">
      <thead class="thead-dark">
        <tr>
         
          <th scope="col">Produit </th>
          <th scope="col"><B>{{Designation}}</B></th>
          <th scope=""></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        
          <td>Prix</td>
          <td></td>
          <td> <B>{{Prix}}</B> </td>
        </tr>
        <tr>
         
          <td>Date d'enregistrement</td>
          <td></td>
          <td>{{Date|date:'dd/MM/yyyy'}}</td>
        </tr>
        
      </tbody>
      
      
    </table>  
      
  <ion-row> 
    <ion-col col-6>
        <ion-button size="full" class="io" color="primary" (click)="open4 = !open4" detail="false">
            <ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon>Modifier
          </ion-button>
        <!-- <button type="button" class="btn btn-block btn-primary">Modifier</button> -->
    </ion-col>

    <ion-col col-6>
        <ion-button size="full" color="danger" (click)="suppConfirm(id)">Supprimer</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-item-group *ngIf="open4">

  <form #depense="ngForm" (ngSubmit)="onModif(depense)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

          <div padding>
              

            <ion-item color="none">
              <ion-input name="Designation" type="text" [(ngModel)]="depense.Designation" placeholder="{{Designation}}"></ion-input>
            </ion-item><br>
            <ion-item color="none">
              <ion-input name="Prix" type="number" [(ngModel)]="depense.Prix" placeholder="{{Prix}}" ></ion-input>

            </ion-item>
                    
          </div>
          <div padding>
            <ion-button  size="full" class="io" color="primary" type="submit" >Valider</ion-button>
          </div>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-item-group>

</ion-content>
