h3{
    color: blue;
    text-align: center;
}
ion-title{
    background-color: rgb(0, 0, 55);
    size: large;
    color: white;
}
ion-button{
    margin-left: 85px;
    
}
ion-buttons{
    color: blue;
}
