<ion-header>
  <ion-toolbar>
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
        <h3>Fewnu Inscription</h3>
    
  <ion-item>
    <ion-label position="floating">Nom Cpmplet</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Code Secret</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmer Votre Code Secret</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <!-- Default -->
  <ion-button class="ion-button" href="/home" type="submit" color="primary">S'INSCRIRE</ion-button>

</ion-content>
