<ion-header>

  <ion-item>
      <ion-label> <B>Client</B></ion-label> <ion-label><B></B></ion-label>
      <ion-label><B>Montant</B></ion-label> <div></div> 
    </ion-item>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="tirer pour rafraîchir"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."    
        >
        </ion-refresher-content>
    </ion-refresher>


    <!--
    <ion-card-content>
      <ion-item>
        <ion-label>Click test</ion-label>
        <ion-button (click)="onLoadPret()">OK</ion-button>
      </ion-item>
    </ion-card-content>
    -->
    
      <ion-list *ngIf="result">
          <ion-item *ngFor="let m of result.data; let rowIndex=index"  [routerLink]="['/pret-detail', m.id, m.Client, m.Telephone, m.Designation, m.Montant, m.Date]">
            <ion-label> <B>{{m.Client}}</B></ion-label> <ion-label><B></B></ion-label>
            <ion-label><B>{{m.Montant}}</B></ion-label> <div></div> 
          </ion-item>
      </ion-list>


<!--
<ion-fab vertical="bottom" horizontal="start" slot="fixed"  >
  <p>Total  
  <ion-chip style="background-color: blue; color:white" >
    <ion-label>FCFA</ion-label>
  </ion-chip>
</p>
</ion-fab>
-->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button class="io" color="warning" routerLink="/pret-ajout">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-fab>

</ion-content>

