<ion-header>
 
</ion-header>

<ion-content class="background-image" no-scroll padding>
  
    <br> <br>

    <div align="center">
        <img src="../assets/images/logolo.png" class="avatar"> <br>
       
    </div> <br>
    <div align="center">
        <B style="color:#ffffff"> Connectez-vous </B>
    </div> <br>

    <ion-grid>
        <ion-row> 
          <ion-col col-12>
   <form #user="ngForm" (ngSubmit)="onLogin(user)">
     

        <ion-input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Téléphone" ngModel ></ion-input>
    <br>        
        <ion-input type="password" [(ngModel)]="user.password"  name="password" placeholder="Code Secret" ngModel></ion-input>
     <br>

      <span class="errormgs" *ngIf="isEmpty">Ce champ est obligatoire </span>
      
        <ion-button type="submit" class="b" color="warning" expand="block" size="medium" >
          Se connecter
        </ion-button> 
       
        
        <p align="right"> <a style="color:#ffffff;" class="lien-login" [routerLink]="['/beforelogin']">       
          Retourner à l'accueil !
      </a> </p>
    
    </form> 
  </ion-col>
</ion-row>

</ion-grid>
    <br>
   <!-- <ion-button routerLink="/inscription" color="secondary" shape="block" type="submit" size="medium"  expand="block">
      INSCRIPTION
    </ion-button> -->

    <span class="errormgs" *ngIf="pasInternet">Vérifier votre connexion</span>

</ion-content> 
