
ion-content.background-image{
    --background: url(../../../assets/images/backkk.png) 0 0/100% 100% no-repeat;
}
ion-input{
    background-color: white;
}
.b{
    --ion-color-warning: #ffaa06;
}
.center{
    margin-left: 10%;
    margin-right: 10%;

}
.col{
  padding: 2;
 }

 .avatar{
    width: 110px;
    height: 120px;
    border-radius: 40%;
}

ion-img{
    width: 30px;
    height: 50px;
}

.ion{
    --ion-color-primary: #192f60;
     color: white;
     padding: 0px;
     margin-top: 0px;
  
  }
  .lien-login{
    
    text-decoration: none;
}

 

/*
ion-content.background {
   // --background: url('/assets/images/ap5.png') no-repeat 100% 100% ;
    --background: url('/assets/images/ap9.png') no-repeat center;
}
*/


