<ion-header>
 
</ion-header>

<ion-content class="background-image">
  <br> <br>

    <div align="center">
        <img src="../assets/images/logolo.png" class="avatar"> <br>
       
    </div> <br> 
    <div align="center">
        
          <p style="color:#ffffff;">  
              <font size="+2">
                  Bienvenue sur<span style="font-weight : 900;"> Fewnu </span>!
          </font>
          </p>
    </div> <br> <br>

    <ion-grid>
      <ion-row> 
        <ion-col col-12>
          <div>
            <div padding> <!--style=" width: 100%; height: 800px;"-->
            <ion-button type="submit" color="light" expand="block" size="medium" [routerLink]="['/login']">
                Se connecter
            </ion-button> <br>
            <ion-button type="submit" class="b" color="warning" expand="block" size="medium" [routerLink]="['/authentication']" >
                  S'inscrire
            </ion-button>
          </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>  

</ion-content>
