ion-content.background-image{
    --background: url(../../assets/images/backkk.png) 0 0/100% 100% no-repeat;
}
.avatar{
    width: 120px;
    height: 130px;
    border-radius: 40%;
}
.b{
    --ion-color-warning: #ffaa06;
}
