<ion-header>
  <ion-toolbar class="io" color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>     
  <ion-title>Historique des Entrées</ion-title>
  </ion-toolbar> 
 </ion-header>

<ion-content>
  <ion-tabs>

      <ion-tab-bar class="io" slot="top" color="primary">
        <ion-tab-button tab="journalier">
          <ion-label>JOURNALIER</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="mois"> 
          <ion-label>MOIS</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    
    </ion-tabs>


</ion-content>
