<ion-header>

</ion-header>

<ion-content class="background-image" no-scroll padding>

    <br> <br>

    <div align="center">
        <img src="../assets/images/logolo.png" class="avatar"> <br>
       
  
        <B style="color:#ffffff"> Inscrivez-vous </B>
    </div> <br>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <div  padding> <!-- style=" width: 100%; height: 800px;" -->
        <form #user="ngForm" (ngSubmit)="onRegister(user)">
          
            <ion-input type="text" [(ngModel)]="user.nom_complet" name="nom_complet" placeholder="Nom Complet" ngModel></ion-input>
         <br>
            <ion-input type="text" [(ngModel)]="user.phone" name="phone" placeholder="Téléphone" ngModel></ion-input>
          <br>
            <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Code Secret" ngModel></ion-input>
         <br>
            <ion-input type="password" [(ngModel)]="user.cpassword" name="cpassword" placeholder="Confirmer votre Code Secret" ngModel></ion-input>
          
            <br>
          <ion-button type="submit" class="b" color="warning"  expand="block" size="medium">Valider</ion-button>
         <p align="right"> <a style="color:#ffffff;" class="lien-login" [routerLink]="['/beforelogin']">       
            Retourner à l'accueil !
        </a> </p>
        </form>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>