ion-content.background-image{
    --background: url(../../../assets/images/backkk.png) 0 0/100% 100% no-repeat;
}

.avatar{
    width: 110px;
    height: 120px;
    border-radius: 40%;
}
ion-input{
    background-color: white;
}
.b{
    --ion-color-warning: #ffaa06;
}
.lien-login{
    
    text-decoration: none;
}
