<ion-split-pane>
  <ion-menu side="start" menuId="first" type="overlay">
    <ion-header>
      <ion-toolbar class="ion" color="primary">
        <ion-img src="{{logo.logo}}"></ion-img> {{prenom}}
        <ion-title>Fewnu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <br>
      <ion-menu-toggle *ngFor="let m of acc">
         
          <div (click)="onMenu1Item(m)">
              &nbsp;
            <SPAN style="font-weight : 900;">
              <ion-icon [name]="m.icon1" slot="start"></ion-icon>
              
            <ion-label>{{m.title1}}</ion-label>
            </SPAN>
         </div>
       
        </ion-menu-toggle>

        <br>
        <ion-item-divider class="ion" color="light">
            <p>Gestion stock</p>
        </ion-item-divider>  
        
      <ion-menu-toggle *ngFor="let m of menus1">
        <div (click)="onMenu1Item(m)"><hr>
          &nbsp;
          <ion-icon [name]="m.icon1" slot="start"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <ion-label>{{m.title1}}</ion-label>
       </div>
      
      </ion-menu-toggle>

      <ion-item-divider color="light">
        <p>Fewnu</p>
      </ion-item-divider>

       <ion-menu-toggle *ngFor="let m of menu2">
        <div (click)="onMenuoItem(m)"><hr>
          &nbsp;  
          <ion-icon [name]="m.icono" slot="start"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <ion-label>{{m.title1}}</ion-label>
       </div>
      </ion-menu-toggle>

      <ion-menu-toggle *ngFor="let m of menu1">
        <div (click)="onMenuo1Item(m)"><hr>
          &nbsp;  
          <ion-icon [name]="m.icon" slot="start"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <ion-label>{{m.title}}</ion-label>
       </div>
      </ion-menu-toggle>
     
     
  
      
     <!-- <ion-item-divider color="light">
        <p></p>
      </ion-item-divider> -->
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
  
  </ion-split-pane>
  