<ion-header>
  <ion-toolbar class="io" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="sorties"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Selectionner un produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="result">
    <ion-item *ngFor="let m of result.data" [routerLink]="['/sortie-ajout', m.id, m.Produit, m.Prix_Unitaire, m.Quantite, m.Client]">
      <B> {{m.Produit}} </B>
    </ion-item>
</ion-list>
</ion-content>
