<ion-header>
  <ion-toolbar class="io" color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
  <ion-title>hebdomadaire</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="tirer pour rafraîchir"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."    
      >
      </ion-refresher-content>
  </ion-refresher>

 <br> <br>

    <ion-card>
        <ion-card-header align="center">
          <ion-card-title>Résumé de la semaine en cours...</ion-card-title>
        </ion-card-header>
      
        <ion-card-content align="left"> 
         <p> 
          Total Vente : {{totalvv}} <br>
          Total Dépense :  {{totaldd}}
          <!--Bénéfice : {{(totalvv)*1 - (totaldd  )*1}}--> 
        </p>
        </ion-card-content>
      </ion-card>
</ion-content>
