<ion-header>
</ion-header>

<ion-item>
  <ion-label> <B>Désignation</B></ion-label> <ion-label><B></B></ion-label>
  <ion-label><B></B></ion-label> <div><B>Prix</B></div> 
</ion-item>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="tirer pour rafraîchir" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="som_1 != null">
    <ion-item button (click)="open1 = !open1" detail="false"> 
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open1"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open1"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>Aujourd'hui</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open1">
      <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate1|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}} 
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
    </div>

    </ion-item-group>

  </ion-list>

  <ion-list  *ngIf="som_2 != null">
    <ion-item button (click)="open2 = !open2" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>Hier</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open2">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate2|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == currentMois3 && som_3 != null">
    <ion-item button (click)="open3 = !open3" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open3"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open3"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab3}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open3">
        <div *ngFor="let m of result.data">

      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate3|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>

      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si4 && som_4 != null">
    <ion-item button (click)="open4 = !open4" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab4}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open4">
        <div *ngFor="let m of result.data">

      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate4|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>

      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si5 && som_5 != null">
    <ion-item button (click)="open5 = !open5" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open5"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open5"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab5}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open5">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate5|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si6 && som_6 != null">
    <ion-item button (click)="open6 = !open6" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open6"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open6"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab6}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open6">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate6|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si7 && som_7 != null">
    <ion-item button (click)="open7 = !open7" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open7"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open7"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab7}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open7">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate7|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="currentMois3 == si8 && som_8 != null">
    <ion-item button (click)="open8 = !open8" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open8"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open8"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab8}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open8">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate8|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si9 && som_9 != null">
    <ion-item button (click)="open9 = !open9" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open9"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open9"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab9}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open9">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate9|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si10 && som_10 != null">
    <ion-item button (click)="open10 = !open10" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open10"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open10"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab10}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open10">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate10|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si11 && som_11 != null">
    <ion-item button (click)="open11 = !open11" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open11"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open11"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab11}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open11">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate11|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si12 && som_12 != null">
    <ion-item button (click)="open12 = !open12" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open12"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open12"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab12}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open12">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate12|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si13 && som_13 != null">
    <ion-item button (click)="open13 = !open13" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open13"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open13"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab13}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open13">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate13|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si14 && som_14 != null">
    <ion-item button (click)="open14 = !open14" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open14"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open14"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab14}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open14">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate14|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si15 && som_15 != null">
    <ion-item button (click)="open15 = !open15" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open15"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open15"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab15}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open15">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate15|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si16 && som_16 != null">
    <ion-item button (click)="open16 = !open16" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open16"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open16"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab16}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open16">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate16|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si17 && som_17 != null">
    <ion-item button (click)="open17 = !open17" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open17"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open17"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab17}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open17">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate17|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list> 
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si18 && som_18 != null">
    <ion-item button (click)="open18 = !open18" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open18"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open18"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab18}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open18">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate18|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si19 && som_19 != null">
    <ion-item button (click)="open19 = !open19" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open19"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open19"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab19}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open19">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate19|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si20 && som_20 != null">
    <ion-item button (click)="open20 = !open20" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open20"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open20"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab20}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open20">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate20|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si21 && som_21 != null">
    <ion-item button (click)="open21 = !open21" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open21"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open21"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab21}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open21">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate21|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si22 && som_22 != null">
    <ion-item button (click)="open22 = !open22" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open22"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open22"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab22}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open22">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate22|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si23 && som_23 != null">
    <ion-item button (click)="open23 = !open23" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open23"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open23"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab23}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open23">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate23|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si24 && som_24 != null">
    <ion-item button (click)="open24 = !open24" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open24"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open24"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab24}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open24">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate24|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si25 && som_25 != null">
    <ion-item button (click)="open25 = !open25" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open25"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open25"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab25}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open25">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate25|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si26 && som_26 != null">
    <ion-item button (click)="open26 = !open26" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open26"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open26"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab26}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open26">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate26|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si27 && som_27 != null">
    <ion-item button (click)="open27 = !open27" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open27"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open27"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab27}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open27">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate27|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si28 && som_28 != null">
    <ion-item button (click)="open28 = !open28" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open28"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open28"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab28}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open28">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate28|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si29 && som_29 != null">
    <ion-item button (click)="open29 = !open29" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open29"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open29"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab29}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open29">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate29|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si30 && som_30 != null"> 
    <ion-item button (click)="open30 = !open30" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open30"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open30"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab30}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open30">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate30|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

  <ion-list *ngIf="currentMois3 == si31 && som_31 != null">
    <ion-item button (click)="open31 = !open31" detail="false">
      <h6>
        <ion-icon slot="start" name="arrow-up" *ngIf="!open31"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="open31"></ion-icon>
      </h6>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h6>
        <ion-label>{{tab31}}</ion-label>
      </h6>
    </ion-item>

    <ion-item-group *ngIf="open31">
        <div *ngFor="let m of result.data">
      <ion-list *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatteDate31|date:'dd-MM-yyyy')">
        <ion-item>
          {{m.Designation}}
          <div class="item-note" slot="end">
            {{m.Prix}}
          </div>
        </ion-item>
      </ion-list>
      </div>
    </ion-item-group>

  </ion-list>

</ion-content>

<!-- *ngIf="(m.Date|date:'dd-MM-yyyy') == (formatDate7|date:'dd-MM-yyyy')" -->