<ion-header>
  <ion-toolbar class="io" color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>
  <ion-title>inventaires</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

      <ion-tab-bar class="io" slot="top" color="primary">
        <ion-tab-button tab="journalier-inv">
          
          <ion-label>JOURNALIER</ion-label>
        </ion-tab-button>
    
      <ion-tab-button tab="mensuel-inv">
          
          <ion-label>MENSUEL</ion-label>
      </ion-tab-button>
    
      </ion-tab-bar> 
    
    </ion-tabs>


</ion-content>
