<ion-header>
  <ion-toolbar class="io" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

<ion-content class="background">
  
  <ion-card>

      <ion-grid>
          <table class="table">
              <thead class="thead-dark">
                <tr>
                 
                  <th scope="col">Libellé</th>
                  <th scope="col"><B>{{Designation}}</B></th>
                  <th scope=""></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                 
                      <td>Client</td>
                      <td></td>
                      <td> <B>{{Client}}</B> </td>
                    </tr>
                    <tr>
                 
                        <td>Téléphone</td>
                        <td></td>
                        <td> <B>{{Telephone}}</B> </td>
                      </tr>
               
                <tr>
                 
                    <td>Montant</td>
                    <td></td>
                    <td> <B> {{Montant}}</B> </td>
                  </tr>
                <tr>
                 
                  <td>Date d'enregistrement</td>
                  <td></td>
                  <td>{{Date|date:'dd/MM/yyyy'}}</td>
                </tr>
               
              </tbody>
              
              
            </table>  
            
        <ion-row> 
          <ion-col col-6>
              <ion-button size="full" class="io" color="primary"  (click)="open4 = !open4" detail="false">
                  <ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
                  <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon>Remboursement
                </ion-button>
              <!-- <button type="button" class="btn btn-block btn-primary">Modifier</button> -->
          </ion-col>
    
          <ion-col col-6>
              <ion-button size="full" color="danger" (click)="suppConfirm(id)">Supprimer</ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>

   

    


   

  </ion-card>


  <ion-item-group *ngIf="open4">
    <form #pret="ngForm" (ngSubmit)="onModif(pret)">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>

                  <ion-radio-group name="prete" [(ngModel)]="pret.prete" p>
                      <ion-row>
                   
                         
                      <ion-row>
                        <ion-radio value="Prêt" mode="md" margin checked="true"></ion-radio>
                        <ion-label class="pret">Prêt</ion-label>
                      </ion-row>
                    
                        <ion-row>
                        <ion-radio value="Remboursement" mode="md" margin></ion-radio>
                        <ion-label class="pret">Remboursement</ion-label>
                      </ion-row>
                   
                    </ion-row>
                   
                    </ion-radio-group>
                    <ion-row>
                     <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="text" name="Nom_Client" placeholder="{{Client}}" [(ngModel)]="pret.Nom_Client"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="number" name="Phone" placeholder="{{Telephone}}" [(ngModel)]="pret.Phone"></ion-input>
                        </ion-item>
                      </ion-col>
                  </ion-row>
          
                  <ion-row>
                      <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="text" name="Libelle" placeholder="{{Designation}}" [(ngModel)]="pret.Libelle"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <ion-item color="none">
                          <ion-input type="number" name="Montant" placeholder="{{Montant}}" [(ngModel)]="pret.Montant"></ion-input>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                    
              </div>
              <div padding>
                <ion-button size="full" class="io" color="primary" type="submit">Valider</ion-button>

              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-item-group>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="tirer pour rafraîchir"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."    
      >
      </ion-refresher-content>  
    </ion-refresher>

    <div *ngIf="result">
        <div *ngFor="let m of result.data" >
          <ion-row *ngIf="(m.Client) == Client">
         
            <ion-col col-2>
              <p><B>{{m.Date|date:'dd/MM/yyyy'}}</B></p>
            </ion-col>
            <ion-col col-2>
             <p><B>{{m.Client}}</B></p>
            </ion-col> 
           <ion-col col-2>
             <p><B>{{m.Montant}}</B></p>
           </ion-col>
           <ion-col col-2>
             <p><B>{{m.Designation}}</B></p>
           </ion-col>
       
          </ion-row>
        </div> 
    </div>

   
   
    

</ion-content>

<!-- -->