<ion-header>
  <ion-toolbar class="io" color="primary">
      <ion-buttons slot="start">
    
    <ion-back-button color="light"  defaultHref="menu/acceuil"></ion-back-button>
  </ion-buttons>

<ion-title>Fewnu</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="c">

  <br><br><br><br><br>

  <ion-item>
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>
  <div *ngFor="let numGroup of numberGroups" color="primary" class="ion">
    <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button>
  </div>

</ion-content>
