
.value {
    text-align: right;
    font-size: 32px;
  }
  
  .calc-button {
    width: calc(25% - 4px);
    height: 64px;
    font-size: 32px;
    
  }
  
  .ion{
    --ion-color-primary: #192f60;
     
  
  }
    

.c{
    background-color: lightgreen;
   
}
.io{
  --ion-color-primary: #008ea1;
   color: white;
   padding: 0px;
   margin-top: 0px;

}
