<ion-header>
</ion-header>

    <ion-row>
        <ion-col>
          <th>Produit</th>
        </ion-col>
        <ion-col>
            <th>Prix</th>
        </ion-col>
        <ion-col col-2>
            <th>Quantité</th>
        </ion-col>
    </ion-row>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="tirer pour rafraîchir" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
    
     
      <ion-list *ngIf="som_cours != null">
        <ion-item button (click)="open2 = !open2" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Mois en cours... {{myDate|date:'MM/yyyy'}}</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open2">
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDatecours|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
        </ion-item-group>
      </ion-list>
    
       
    
      <ion-list *ngIf="som_pass != null">
        <ion-item button (click)="open4 = !open4" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open4"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open4"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Mois passé</ion-label>
          </h6>
        </ion-item>
    
    
        <ion-item-group *ngIf="open4">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDatepass|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      
    
      <ion-list *ngIf="som_12 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate12|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate12|date:'MM-yyyy')">
        <ion-item button (click)="open5 = !open5" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open5"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open5"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Decembre</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open5">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate12|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_11 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate11|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate11|date:'MM-yyyy')">
        <ion-item button (click)="open6 = !open6" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open6"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open6"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Novembre</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open6">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate11|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_10 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate10|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate10|date:'MM-yyyy')">
        <ion-item button (click)="open7 = !open7" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open7"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open7"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Octobre</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open7">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate10|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
    
      <ion-list *ngIf="som_9 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate9|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate9|date:'MM-yyyy')">
        <ion-item button (click)="open8 = !open8" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open8"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open8"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Septembre</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open8">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate9|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_8 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate8|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate8|date:'MM-yyyy')">
        <ion-item button (click)="open9 = !open9" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open9"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open9"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Aout</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open9">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate8|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_7 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate7|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate7|date:'MM-yyyy')">
        <ion-item button (click)="open10 = !open10" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open10"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open10"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Juillet</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open10">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate7|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_6 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate6|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate6|date:'MM-yyyy')">
        <ion-item button (click)="open11 = !open11" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open11"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open11"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Juin</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open11">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate6|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_5 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate5|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate5|date:'MM-yyyy')">
        <ion-item button (click)="open12 = !open12" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open12"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open12"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Mai</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open12">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate5|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_4 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate4|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate4|date:'MM-yyyy')">
        <ion-item button (click)="open13 = !open13" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open13"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open13"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Avril</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open13">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate4|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_3 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate3|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate3|date:'MM-yyyy')">
        <ion-item button (click)="open14 = !open14" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open14"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open14"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Mars</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open14">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate3|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_2 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate2|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate2|date:'MM-yyyy')">
        <ion-item button (click)="open15 = !open15" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open15"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open15"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Fèvrier</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open15">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate2|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
    
      <ion-list *ngIf="som_1 != null && (formatteDatecours|date:'MM-yyyy') != (formatteDate1|date:'MM-yyyy') && (formatteDatepass|date:'MM-yyyy') != (formatteDate1|date:'MM-yyyy')">
        <ion-item button (click)="open17 = !open17" detail="false">
          <h6>
            <ion-icon slot="start" name="arrow-up" *ngIf="!open17"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="open17"></ion-icon>
          </h6>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <h6>
            <ion-label>Janvier</ion-label>
          </h6>
        </ion-item>
    
        <ion-item-group *ngIf="open17">
    
          <div *ngFor="let m of result.data">
            <ion-list *ngIf="(m.Date|date:'MM-yyyy') == (formatteDate1|date:'MM-yyyy')">
                <ion-row>
                    <ion-col col-2>
                      <th>{{m.Produit}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Prix_Unitaire}}</th>
                    </ion-col>
                    <ion-col col-2>
                        <th>{{m.Quantite}}</th>
                    </ion-col> 
                </ion-row>
            </ion-list>
          </div>
    
        </ion-item-group>
      </ion-list>
</ion-content>

<!--
<ion-list >
  <ion-item *ngFor="let m of moIs">
  <th>{{m.title}}</th>
    <div class="item-note" slot="end">
      <th>{{formatteDate|date:'d-MM-yyyy'}}</th>
    </div>
  </ion-item>
</ion-list>

<ion-list *ngIf="result && m.position" >
            <ion-item *ngFor="let l of result.data">
            <td *ngIf="(l.Date|date:'MM-yyyy') == (formatteDate|date:'MM-yyyy')">{{l.Date|date:'dd-MM-yyyy'}}</td>
              <div class="item-note" slot="end">
             <td>{{l.Prix}}</td>
              </div>
          </ion-item>    
    </ion-list>




     <ion-item button  (click)="open2 = !open2" detail="false">
    <h6><ion-icon slot="start" name="arrow-up" *ngIf="!open2"></ion-icon>
      <ion-icon slot="start" name="arrow-down" *ngIf="open2"></ion-icon></h6>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <h5>Hier</h5>
</ion-item>


<ion-item-group *ngIf="open2">
      

  <ion-row *ngFor="let m of listHier"> 
      <ion-col col-2>
        <h6>{{m.Designation}}</h6> 
      </ion-col>
      <ion-col col-2>
          <h6>{{m.Prix}}</h6>
      </ion-col>
      <ion-col col-2>
          <h6>{{m.Prix}}</h6>
      </ion-col> 
  </ion-row>
</ion-item-group>
-->
