ion-button{
    margin-left: 85px;
    
}
.io{
    --ion-color-primary: #008ea1;
}

ion-input{
    background-color: white;
}

.btn-warning{
    --ion-color-warning: #ffaa06;
    position: left;
}
.col{
    padding: 2;
   }