<ion-header>
    <ion-toolbar class="io" color="primary">
      <ion-buttons class="ion-buttons" slot="start">
        <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">Vente Produit</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background">
  
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="tirer pour rafraîchir"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."    
          >
          </ion-refresher-content>
      </ion-refresher>
  
      <ion-grid>
          <ion-row> 
            <ion-col col-12>
      
      <form #sorti="ngForm" (ngSubmit)="onAjout(sorti)">
        
                <br>
  
               <p> <B> {{Produit}} </B> </p>
  
               <br>
                 
              <ion-input name="Quantite" type="number" [(ngModel)]="sorti.Quantite" placeholder="Quantité"></ion-input>
               
              <br>
                  
              <ion-input name="Prix_Unitaire" type="number" [(ngModel)]="sorti.Prix_Unitaire" placeholder="Prix Unitaire"></ion-input>
               
              <br>
               
              <ion-input name="Client" type="text" [(ngModel)]="sorti.Client" placeholder="Nom du client"></ion-input>
  
              <br>
                    
              <!--<ion-button type="submit" class="b" color="warning" expand="block" size="medium" >
                  Valider
              </ion-button> -->
              <div padding>
                  <ion-button size="medium" class="io" color="primary" type="submit" >Valider</ion-button>
              </div>
                    
        </form>
  
      </ion-col>
    </ion-row>
    
    </ion-grid>
  
  </ion-content>
  
  <!--
    <form #sorti="ngForm" (ngSubmit)="onAjout(sorti)">
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  
                <div padding>
                    <div text-center>
                        <h3 color="primary">Vente Produit</h3>
                      </div><br>
                  <ion-item color="none">
                    <ion-label>Produit</ion-label>
                          <ion-select placeholder="Produit..." name="Produit"  [(ngModel)]="sorti.Produit" [compareWith]="compareWith">
                              <ion-select-option *ngFor="let m of reesult" [routerLink]="['/ajoutsorties', m.id, m.Produit, m.Prix_Unitaire, m.Quantite]">{{m.Produit}}</ion-select-option>
                          </ion-select>
                  </ion-item><br>
                  <ion-item color="none">
                    <ion-input name="Prix_Unitaire" type="number" [(ngModel)]="sorti.Prix_Unitaire" placeholder="Prix Unitaire"></ion-input>
                  </ion-item>  <br>
                  <ion-item color="none"> 
            
                    <ion-input name="Quantite" type="number" [(ngModel)]="sorti.Quantite" placeholder="Quantitée"></ion-input>
                 </ion-item>           
                </div>
                <div padding>
                  <ion-button class="ion-button" color="primary" type="submit" >Valider</ion-button>
                </div>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
  -->