<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="{{logo.logo}}" slot="end" routerLink="/calculatrice"></ion-img>
     
    <br>
    <ion-title style="color:#ffffff">BOUTIQUE</ion-title>
 
    <br> <br> <br>
    <ion-icon name="power" class="pow" (click)="presentConfirm()" slot="end"></ion-icon>
    <ion-icon name="" (click)="presentPopover($event)" slot="end"></ion-icon>
      
  </ion-toolbar> 
</ion-header>

<ion-content>

    <ion-tabs>
        <ion-tab-bar slot="top" class="ion" color="primary">
          <ion-tab-button tab="vente">
            <ion-icon name="ios-send"></ion-icon>
            <ion-label> <B style="font-size: 1.2em"> VENTE</B></ion-label>
            <ion-badge></ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="depense">
            <ion-icon name="ios-basket"></ion-icon>
            <ion-label> <B style="font-size: 1.2em"> DEPENSE </B></ion-label>
          </ion-tab-button>
      
      
          <ion-tab-button tab="pret">
            <ion-icon name="cash"></ion-icon>
            <ion-label> <B style="font-size: 1.2em"> PRET </B></ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  <!--
  <ion-tabs>
        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="vente">
            <ion-label>VENTE</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="depense"> 
            <ion-label>DEPENSE</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="pret"> 
            <ion-label>PRET</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
      -->
     
</ion-content>