<ion-header>


  <ion-item>
    <ion-label> <B>Désignation</B></ion-label> <ion-label><B></B></ion-label>
    <ion-label><B>Prix</B></ion-label> <div></div> 
  </ion-item>


</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="tirer pour rafraîchir"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."    
    >
    </ion-refresher-content>
</ion-refresher>

<!--
<ion-button size="full" color="danger" (click)="saveData()">Enregistrer Json</ion-button> <br>
<ion-button size="full" color="danger" (click)="loadData()">Charger Json</ion-button>
-->

    <!--
    <ion-card-content>
      <ion-item>
        <ion-label>Click test</ion-label>
        <ion-button (click)="onLoadVente()">OK</ion-button>
      </ion-item>
    </ion-card-content>
    -->

  

   <!-- <div *ngIf="result">
    <ion-row *ngFor="let m of result.data;  let rowIndex=index" >
      <ion-col col-3 [routerLink]="['/modifier-produit', m.id]">
        <p>{{m.Designation}}</p>
      </ion-col>
      <ion-col col-3>
          <p>{{m.Prix}}</p>
      </ion-col> 
      <!-- <button (click)="deleteVente(m.id)" >Delete</button> 
    </ion-row>
    </div> -->
    <ion-list *ngIf="result">
        <ion-item *ngFor="let m of result.data" [routerLink]="['/vente-detail', m.id, m.Designation, m.Prix, m.Client, m.Date]">

          <ion-label> <B>{{m.Designation}}</B></ion-label> <ion-label><B></B></ion-label>
          <ion-label><B>{{m.Prix}}</B></ion-label> <div></div> 

        </ion-item>
    </ion-list>
    
  <!-- <p *ngIf="m.Date =='2019-08-20T11:48:02.367533Z'">{{m.Prix}} </p> -->


 


   <!--
   <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->

    <!--
      <ion-card *ngIf="result">
      <ion-card-content>
        
          <ion-item *ngFor="let m of result.data;  let rowIndex=index">
            <ion-list>
                <span class="badge badge-dark"></span>
              <ion-item>
                 {{m.Designation}}  {{m.Prix}}
              </ion-item>
            </ion-list>
          </ion-item>
        
      </ion-card-content>
    </ion-card>
    -->

   

</ion-content>

<ion-footer>
  <ion-toolbar class="bar">

    <ion-buttons start>
      <button ion-button color="save" style="background-color: white">
        <p style="font-size: 1.8em"> 
          <ion-chip style="background-color: #008ea1; color:white">
                <ion-label>TOTAL: <B>  {{somming}} </B></ion-label>
          </ion-chip>
        </p>
      </button>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="io" color="warning" (click)="ajoutPrompt()" class="ba">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      </ion-fab>

    </ion-buttons>
    
  </ion-toolbar>
</ion-footer>
  
    

 
  
