ion-title{
    size: large;
    color: white;
}
ion-button{
    margin-left: 100px;
    color: rgb(0, 0, 55);
    
}

.conteneur{
    display: flex;
    margin-left: 20px;
}

.pret{
    margin-top: 20px;
    font-size: 20px;
   
}
ion-input{
    background-color: white;
}
.io{
    --ion-color-primary: #008ea1;
 }
/*
ion-content.background {
    // --background: url('/assets/images/ap5.png') no-repeat 100% 100% ;
     --background: url('/assets/images/ap9.png') no-repeat center;
     
     
 } */