<ion-header>
  <!--
   <ion-row>
       <ion-col col-2>
         <h4>Designation</h4>
       </ion-col>
       <ion-col col-2>
         <h4>Prix</h4>
       </ion-col>
   </ion-row>
  --> 
  
  <ion-item>
     <ion-label> <B>Désignation</B></ion-label> <ion-label><B></B></ion-label>
     <ion-label><B>Prix</B></ion-label> <div></div> 
   </ion-item>


</ion-header>
<ion-content>

   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
       <ion-refresher-content
         pullingIcon="arrow-dropdown"
         pullingText="tirer pour rafraîchir"
         refreshingSpinner="circles"
         refreshingText="Refreshing..."    
       >
       </ion-refresher-content>
   </ion-refresher>


     <!--
     <ion-card-content>
       <ion-item>
         <ion-label>Click test</ion-label>
         <ion-button (click)="onLoadDepense()">OK</ion-button>
       </ion-item>
     </ion-card-content>
     -->

       <ion-list *ngIf="result">
           <ion-item *ngFor="let m of result.data"  [routerLink]="['/depense-detail', m.id, m.Designation, m.Prix, m.Date]">
             <ion-label> <B>{{m.Designation}}</B></ion-label> <ion-label><B></B></ion-label>
             <ion-label><B>{{m.Prix}}</B></ion-label> <div></div> 
           </ion-item>
       </ion-list>


 
 
 <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
   <p>Total  
   <ion-chip style="background-color: blue; color:white" >
     <ion-label>FCFA</ion-label>
   </ion-chip>
 </p>
</ion-fab>-->


</ion-content>

<ion-footer>
 <ion-toolbar class="bar">

   <ion-buttons start>
     <button ion-button color="save" style="background-color: white">
       <p style="font-size: 1.8em"> 
         <ion-chip style="background-color: #008ea1; color:white">
               <ion-label>TOTAL: <B>  {{somming}} </B></ion-label>
         </ion-chip>
       </p>
     </button>

     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
       <ion-fab-button class="io" color="warning" (click)="ajoutPrompt()" class="ba">
         <ion-icon name="add"></ion-icon> 
       </ion-fab-button>
     </ion-fab>
   </ion-buttons>
   

 </ion-toolbar>
</ion-footer>
