<ion-header>
  <ion-toolbar class="ion" color="primary">
    <!--<ion-buttons slot="start">
        <ion-back-button defaultHref="menu/acceuil"></ion-back-button>
    </ion-buttons>   -->  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-img src="{{logo.logo}}" slot="end" routerLink="/calculatrice"></ion-img>

    <br>
    <ion-title style="color:#ffffff">STOCK</ion-title>
    
    <br> <br> <br>
    <ion-icon name="power" class="pow" (click)="presentConfirm()" slot="end"></ion-icon>
    <ion-icon name="" (click)="presentPopover($event)" slot="end"></ion-icon>

  
  </ion-toolbar> 
 </ion-header>

<ion-content>
    <ion-tabs>

        <ion-tab-bar slot="top" class="ion" color="primary">
          <ion-tab-button tab="entree">
            <ion-label> <B style="font-size: 1.2em"> ENTREES </B></ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="sortie"> 
            <ion-label> <B style="font-size: 1.2em"> SORTIES </B></ion-label>
          </ion-tab-button>
      
        </ion-tab-bar>
      
      </ion-tabs>

     

     
</ion-content>