.ion{
    --ion-color-primary: #008ea1;
     color: white;
     padding: 0px;
     margin-top: 0px;
  
  }
 
 
  ion-img{
    margin-top: 10px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
 
 }