/* .loginbox{
    width: 320px;
    height: 420px;
    background: none;
    border-radius: 20%;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 110px;
    height: 120px;
    border-radius: 40%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
} 
 .code{
    --ion-color-primary: #218581;
 }
 p{
     color: black;
 }
 */

 .ioni{
    --ion-color-primary: #192f60;
    color: white;
    padding: 0px;
    margin-top: 0px;
 }

ion-icon{
    font-size: 5em;
}
.avatar{
    width: 110px;
    height: 120px;
    border-radius: 40%;
}
.code{
    --ion-color-primary: #218581;
 }
 .cod{
    --ion-color-primary: #00d7de;
 }
 
 .images{
    width: 120px;
    height: 70px;
 }