<ion-header>
  
</ion-header>

<ion-content> 
   
          <br> <br>

          <div align="center">
              <img src="../assets/images/logo.png" class="avatar"> <br>
             
          </div> <br> <br> 
          <div align="center">
              <B style="color:#218581"> Choississez une catégorie </B>
          </div> <br> <br> 
            <ion-grid>
              <ion-row> 
                <ion-col col-6>
                  <ion-card text-center padding color="primary" class="cod" [routerLink]="['/menu/accueil/vente']">
                    <!--<img src="../assets/images/boutique.png" class="images"> -->
                     <ion-icon name="md-cart" ></ion-icon>
                    <h5>Boutique</h5>
                  </ion-card>
                </ion-col>
          
                <ion-col col-6>
                    <ion-card text-center padding color="primary" class="code" [routerLink]="['/menustock/accueil/entree']">
                      <!-- <img src="../assets/images/stock.png" class="images"> -->
                      <ion-icon name="clipboard"></ion-icon>
                      <h5>Stock</h5>  
                    </ion-card>
                  </ion-col>
              </ion-row>

              <br> <br> <br>
              <div align="center">
                <p style="color:#218581"><font size="+2"> Avec <span style="font-weight : 700;">Fewnu</span>, prenez votre <br>
                business en main </font></p>
                  
                     
               </div>
            </ion-grid>

</ion-content>
 <!-- #05454e #218581 #192f60 -->

 <!--

    <div class="loginbox">
    <img src="../assets/images/logo.png" class="avatar">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="../assets/images/logosous.jpg" class="avata" style="width: 100px">
      <br> <br>
    <ion-button class="code" color="primary" expand="block" [routerLink]="['/menu/acceuil/menu/acceuil/vente']" ><span style="font-weight : 700;">BOUTIQUE</span></ion-button> 
    <ion-button class="code" color="primary" expand="block" [routerLink]="['/menustock/gestionstckok']"><span style="font-weight : 700;">STOCK</span></ion-button>
      <div align="center">
        <p > <span style="font-weight : 700;"> Prenez votre business en main 
            <br> avec Fewnu </span> </p>     
           
     </div>
  </div>
-->
  
     <!-- <ion-button size="small" class="code" color="primary" (click)="onPropos(m)"><ion-icon name="ios-help-circle-outline"></ion-icon>&nbsp;&nbsp; A propos de Fewnu</ion-button> <br>
          <ion-button size="small" class="code" color="primary" (click)="onContact(m)"><ion-icon name="ios-contacts"></ion-icon>&nbsp;&nbsp; Nous contactez</ion-button> -->

