<ion-header>
  <ion-item>
      <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                  <B>Produit</B>
              </div>
            </ion-col>
            <ion-col>
              <div>
                  <B>Quantité</B>
              </div>
            </ion-col>
            <ion-col>
              <div>
                  <B> P.Unitaire </B>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="tirer pour rafraîchir"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."    
      >
      </ion-refresher-content>
  </ion-refresher>
  
<!--
<ion-card-content>
  <ion-item>
    <ion-label>Click test</ion-label>
    <ion-button (click)="onLoadSortie()">OK</ion-button>
  </ion-item>
</ion-card-content>
-->

<ion-list *ngIf="result">
    <ion-item *ngFor="let m of result.data;  let rowIndex=index" [routerLink]="['/sortie-detail', m.id, m.Produit, m.Prix_Unitaire, m.Quantite, m.Client]">
      <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                  <B>{{m.Produit}}</B>
              </div>
            </ion-col>
            <ion-col>
              <div>
                  <B>{{m.Quantite}}</B>
              </div>
            </ion-col>
            <ion-col>
              <div>
                  <B> {{m.Prix_Unitaire}} </B>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

    </ion-item>
</ion-list>

 
</ion-content>
<ion-footer>
<ion-toolbar class="bar">

  <ion-buttons start>
      <button ion-button color="save" style="background-color: white">
          <p style="font-size: 1.8em"> 
            <ion-chip style="background-color: #008ea1; color:white">
                  <ion-label>TOTAL: <B>  {{somming}} </B></ion-label>
            </ion-chip>
          </p>
        </button>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="io" color="warning" routerLink="/select-entree" class="ba">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    </ion-fab>

  </ion-buttons>
  
</ion-toolbar>
</ion-footer>